{% extends "base.html.twig" %}

{% block body %}

	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Titre</th>
				<th>Description (courte)</th>
				<th>Description (longue)</th>
				<th>Photo</th>
				<th>Prix (journalier)</th>
				<th>Date d'enregitrement</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{ chambre.id }}</td>
					<td>{{ chambre.titre }}</td>
					<td>{{ chambre.descriptionCourte }}</td>
					<td>{{ chambre.descriptionLongue}}</td>
					<td><img src="{{ asset('medias/' ~ chambre.photo) }}" alt="{{ chambre.titre }}"></td>
					<td>{{ chambre.prixJournalier }}</td>
					<td>{{ chambre.dateEnregistrement | date("d/m/Y") }}</td>
					<td>
						<a href="{{ path("admin_show_chambres", {'id' : slider.id}) }}">
							<i class="fa-solid fa-magnifying-glass"></i>
						</a>
						<a href="{{ path("admin_update_chambre", {'id' : slider.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						<a href="{{ path("admin_delete_chambre", {'id' : slider.id}) }}">
							<i class="fa-solid fa-trash-can"></i>
						</td>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-succes" href="{{ path("admin_create_chambre") }}">Ajouter une chambre</a>
{% endblock %}
