{% extends "base.html.twig" %}

{% block body %}

	<img src="{{ asset("medias/" ~ chambre.photo) }}" alt="{{ chambre.titre }}" class="w100">

	<div class="w60">
		<h2>Equipements et informations</h2>
		<p>{{ chambre.descriptionLongue }}</p>
		<a href="{{ path('chambre_like', {'id' : chambre.id } ) }}" class="btn btn-link js-likes">

			{% if app.user and chambre.isLikeByUser(app.user) %}
				<i class="fas fa-thumbs-up"></i>
			{% else %}
				<i class="far fa-thumbs-up"></i>
			{% endif %}

			<span class="js-likes">{{ chambre.likes | length }}</span>
			<span class="js-label">J'aime</span>
		</a>

		<a href="{{ path('dislike_chambre', {'id' : chambre.id } ) }}" class="btn btn-link js-dislikes">

			{% if app.user and chambre.isDislikeByUser(app.user) %}
				<i class="fas fa-thumbs-down"></i>
			{% else %}
				<i class="far fa-thumbs-down"></i>
			{% endif %}
			<span class="js-dislikes">{{ chambre.dislikes | length }}</span>
			<span class="js-label">Je n'aime pas</span>

		</a>
	</div>


	<br><br>
	<hr class="w60">

	{{form_start(commandeForm)}}

	<div class="w50 mt-3">
		{{form_label(commandeForm.date_arrivee, "Date d'arrivée : ", {'label_attr' : {'class' : 'input-group-text', 'id' : 'basic-addon1'} } ) }}
		{{form_widget(commandeForm.date_arrivee,{'attr' : {'class ' : 'form-control'} } ) }}
	</div>

	<div class="w50 mt-3">
		{{form_label(commandeForm.date_depart, "Date de départ : ", {'label_attr' : {'class' : 'input-group-text', 'id' : 'basic-addon1'} } )}}
		{{form_widget(commandeForm.date_depart,{'attr' : {'class ' : 'form-control'} } )}}
	</div>
	<div class="w50 mt-3">
		{{form_label(commandeForm.prenom, "Prénom : ", {'label_attr' : {'class' : 'input-group-text', 'id' : 'basic-addon1'} } )}}
		{{form_widget(commandeForm.prenom,{'attr' : {'class ' : 'form-control'} } )}}

	</div>
	<div class="w50 mt-3">
		{{form_label(commandeForm.nom, "Nom : ", {'label_attr' : {'class' : 'input-group-text', 'id' : 'basic-addon1'} } )}}
		{{form_widget(commandeForm.nom,{'attr' : {'class ' : 'form-control'} } )}}
	</div>

	<div class="w50 mt-3">
		{{form_label(commandeForm.email, "Email : ", {'label_attr' : {'class' : 'input-group-text', 'id' : 'basic-addon1'} } )}}
		{{form_widget(commandeForm.email,{'attr' : {'class ' : 'form-control'} } )}}
	</div>

	<div class="w50 mt-3">
		{{form_label(commandeForm.telephone, "Téléphone : ", {'label_attr' : {'class' : 'input-group-text', 'id' : 'basic-addon1'} } )}}
		{{form_widget(commandeForm.telephone,{'attr' : {'class ' : 'form-control'} } )}}
	</div>

	<div class="w50 mt-3">
		{{form_widget(commandeForm.Reserver,{'attr' : {'class ' : 'btn btn-success'} } )}}
	</div>


	{{form_end(commandeForm)}}

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script>


		function onClickLike(event) {
event.preventDefault();

const url = this.href;
const spanCount = this.querySelector("span.js-likes");
const icone = this.querySelector("i.fa-thumbs-up");

axios.get(url).then(function (response) {
spanCount.textContent = response.data.likes;
if (icone.classList.contains("fas")) {
icone.classList.replace("fas", "far");
} else {
icone.classList.replace("far", "fas");
}

if (response.data.message == "Le dislkie a été supprimé et le like a été ajouté") {
const spanCountDis = document.querySelector("span.js-dislikes");
const iconeDis = document.querySelector("i.fa-thumbs-down");

spanCountDis.textContent = response.data.dislikes;

if (iconeDis.classList.contains("fas")) {
iconeDis.classList.replace("fas", "far");
} else {
iconeDis.classList.replace("far", "fas");
}
}
}).catch(function (error) {
if (error.response.status === 403) {
window.alert("Vous devez obligatoirement vous connecter");
} else {
window.alert("Une erreur non identifiée s'est produite.");
}
});
}

function onCLickDislike(event) {
event.preventDefault();

const urlDislike = this.href;
const spanCountDislike = this.querySelector("span.js-dislikes");
const iconeDislike = this.querySelector("i.fa-thumbs-down");

axios.get(urlDislike).then(function (response) {
spanCountDislike.textContent = response.data.dislikes;

if (iconeDislike.classList.contains("fas")) {
iconeDislike.classList.replace("fas", "far");
} else {
iconeDislike.classList.replace("far", "fas");
}

if (response.data.message == "Le like a été supprimé et le dislike a été ajouté") {
const spanCountLike = document.querySelector("span.js-likes");
const iconeLike = document.querySelector("i.fa-thumbs-up");

spanCountLike.textContent = response.data.likes;

if (iconeLike.classList.contains("fas")) {
iconeLike.classList.replace("fas", "far");
} else {
iconeLike.classList.replace("far", "fas");
}
}
});
}

document.querySelector("a.js-likes").addEventListener("click", onClickLike);

document.querySelector("a.js-dislikes").addEventListener("click", onCLickDislike);
	</script>
{% endblock %}
