<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset("css/style.css") }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">HouseHotel</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('front_chambre_list') }}">Chambre</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Restaurant</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Spa</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Réservation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path("list_avis") }}">Avis</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">L'hôtel</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Actualités</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Contact</a>
							</li>
						</ul>
						<form class="d-flex" action="{{ path('search') }}" method="get">
							<input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="search">
							<button class="btn btn-outline-success" type="submit">Rechercher</button>
						</form>
					</div>
				</div>
			</nav>

		</header>
		{% block body %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html>
